* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Elements*/
a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

section {
    padding: 80px 50px;
}

button {
    border: none;
    outline: none;
    background: none;
}
body{
    font-size: 16px;
}

/*Navbar*/
nav {
    margin: auto;
    position: relative;
    display: flex;
    color: black;
    font-size: 1rem;
    font-weight: 300;
    background-color: white;
    border-bottom:1px solid #e3dfdf ;
}

.hamburger {
    display: none;
    cursor: pointer;
}
.nav-logo{
    padding: 35px 0px;
    margin-right: 40px;
}
.nav-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-items li {
    padding: 40px 20px;
}

.nav-items li:hover{
    border-bottom:2px solid #FF7E1B;
}

.nav-side {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0px;
    top: 0;
    right: 0px;
    gap: 30px;
}

.nav-side img {
    cursor: pointer;
}

.avatar {
    width: 50px;
}

#cart {
    height: 20px;
}

.close {
    display: none;
    position: absolute;
    margin: 0px 20px;
    top: 40px;
}

/*Main-body*/
main {
    display: flex;
}

/*Product detail section*/
.product-details {
    display: flex;
    gap: 100px;
}

.product-images img {
    border-radius: 20px;
    height: 500px;
    object-fit: contain;
}

.thumbnail {
    gap: 30px;
    justify-content: center;
    margin-top: 30px;

}

.thumbnail img {
    border-radius: 10px;
    height: 100px;
    margin: 10px;
    position: relative;
}

.thumbnail img:hover {
    border: #FF7E1B 3px solid;
    background-color: #E6EAE4;
    opacity: 0.6;
    cursor: pointer;
}

.product-content {
    padding: 60px 0px;
}

.heading {
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: 700;
    opacity: 0.6;
}

.title {
    font-weight: 900;
    font-size: 2.7rem;
}

.details {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.3rem;
    line-height: 1.6;
    opacity: 0.6;
    position: relative;

}

.slide-buttons {
    display: none;
    position: absolute;
    cursor: pointer;
}

.total-pricing {
    justify-content: center;
    align-items: center;
    display: block;
}

.pricing {
    display: flex;
}

.price {
    font-size: 2.2rem;
    font-weight: 800;
    margin-right: 15px;
}

.discount {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    padding: 1px 10px;
    font-weight: 700;
    margin-top: 15px;
    border-radius: 5px;
    height: 40%;
}

strike {
    letter-spacing: 0;
    margin-top: 20px;
}

.cart-add {
    display: flex;
    gap: 60px;
}

.cart {
    filter: brightness(0);
}

.quantity {
    width: 90%;
    text-align: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #F6F7FC;
    border-radius: 10px;
}

.quantity img {
    cursor: pointer;

}

input {
    outline: none;
    border: none;
    width: 70%;
    text-align: center;
    color: black;
    background: #F6F7FC;
}

.add-to-cart {
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
    padding: 5px 0px;
    gap: 15px;
    background-color: #FF7E1B;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-to-cart p {
    font-weight: 900;
    margin: 10px 0px;
}

/*Responsive Queries*/
@media screen and (max-width:700px) {
    body {
        z-index: 0;
    }

    .hamburger {
        display: block;
        margin: 0px 20px;
    }

    .hamburger img {
        margin-top: 5px;
        width: 1.5rem;
        filter: brightness(0);
    }

    .nav-items {
        display: none;
    }

    nav {
        margin: 0;
        align-items: center;
        width: 100%;
    }

    .nav-logo {
        margin: 0px;
        padding: 25px 0px;
        width: 12rem;
    }

    .nav-items ul {
        display: block;
        background-color: white;
        font-weight: 900;
        font-size: 1.2rem;
        padding: 70px 10px;
        height: 2000%;
        position: fixed;
        left: 0;
        top: 0;
        width: 70%;
        z-index: 1;
    }

    .nav-items li{
        padding: 20px ;
    }

    .nav-side {
        position: absolute;
        padding: 25px 0px;
        left: 415px;
    }

    .avatar {
        width: 35px;
    }

    #cart {
        height: 25px;
    }

    hr {
        display: none;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    .product-details {
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
    }

    .total-pricing {
        display: flex;
        justify-content: space-between;
    }

    .product-images {
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .product-content {
        padding: 30px;
    }

    .price {
        font-size: 2.5rem;
        display: flex;
    }

    .discount {
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    strike {
        font-size: 1.5rem;
    }

    .details {
        margin-top: 0;
    }

    .product-details {
        gap: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .product-images img {
        border-radius: 0;
        margin: 0;
        object-fit: contain;
        align-self: center;
        justify-content: center;
    }

    .thumbnail {
        display: none;
    }

    .slide-buttons {
        display: flex;
    }


    .slide-buttons img {
        border-radius: 50px;
        background-color: azure;
        height: 50px;
        width: 50px;
        padding: 15px;
        font-weight: 900;
        opacity: 0.8;
        position: absolute;
    }

    .previous {
        top: 240px;
        left: 20px;
    }

    .next {
        top: 240px;
        left: 430px;
    }

    .cart-add {
        display: block;
    }

    .quantity {
        margin: auto;
        margin-bottom: 20px;
    }

    input {
        width: 70%;
    }

    .add-to-cart {
        margin: auto;
        height: max-content;
        font-size: larger;
    }

}

@media screen and (max-width:1200px) {

    .title{
        font-size: 2.5rem;
    }
    
    .product-content{
        padding-top: 10px;
    }
    .cart-add{
        display: block;
    }
    .quantity{
        margin-bottom: 20px;
    }
}
