* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Elements*/
a {
    text-decoration: none;
    color: black;
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

section {
    padding: 80px 50px;
}

hr {
    opacity: 0.2;
    color: grey;
}

button {
    border: none;
    outline: none;
    background: none;
}

/*Generic*/

.cart {
    filter: brightness(0);
    height: 15px;

}

/*Navbar*/
nav {
    margin: 30px auto;
    position: relative;
    display: flex;
    color: black;
    font-size: medium;
    font-weight: 300;
    opacity: 0.8;
    background-color: white;
    padding: 20px 0px;
}

.hamburger {
    display: none;
}

.nav-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

.nav-items li {
    padding: 5px 20px;
}

.nav-side {
    position: fixed;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 50px;
}

.nav-side img {
    margin: 0px 30px;
    cursor: pointer;
}

.avatar {
    width: 50px;
}

#cart {
    height: 20px;
}

/*Main-body*/
main {
    display: flex;
}

/*Product detail section*/
.product-details {
    display: flex;
    gap: 100px;
}

.product-images img {
    border-radius: 20px;
    height: 500px;
    object-fit: contain;
}

.thumbnail {
    gap: 30px;
    justify-content: center;
    margin-top: 30px;

}

.thumbnail img {
    border-radius: 10px;
    height: 100px;
    position: relative;
}

.thumbnail img:hover {
    border: #FF7E1B 3px solid;
    background-color: #E6EAE4;
    opacity: 0.6;
    cursor: pointer;
}

.product-content {
    padding: 60px 0px;
}

.heading {
    letter-spacing: 2px;
    font-size: medium;
    font-weight: 700;
    opacity: 0.6;
}

.title {
    font-weight: 900;
    font-size: 2.7rem;
}

.details {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: large;
    line-height: 1.6;
    font-size: 600;
    opacity: 0.6;
    position: relative;

}

.slide-buttons {
    display: none;
    position: absolute;
}

.mobile {
    display: block;
}

.pricing {
    display: flex;
}

.price {
    font-size: xx-large;
    font-weight: 800;
    opacity: 1;
    margin-right: 15px;
}

.discount {
    background-color: black;
    color: white;
    font-size: large;
    padding: 1px 10px;
    font-weight: 700;
    margin-top: 15px;
    border-radius: 5px;
    height: 40%;
}

strike {
    letter-spacing: 0;
    margin-top: 20px;
}

.cart-add {
    display: flex;
}

.quantity {
    padding: 15px 10px;
    background: #F6F7FC;

}

.quantity img {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
    width: 100px;
    text-align: center;
    color: black;
    background: #F6F7FC;
}

.add-to-cart {
    margin: 0px 40px;
    display: flex;
    padding: 5px 70px;
    gap: 15px;
    background-color: #FF7E1B;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-to-cart p {
    font-weight: 900;
    margin: 10px 0px;
}

/*Responsive Queries*/
@media screen and (max-width:600px) {
    .html{
        width: 100%;
    }
    .hamburger {
        display: block;
        margin: 0px 20px;
    }

    .hamburger img{
        margin-top: 5px;
        width: 1.5rem;
        filter: brightness(0);
    }
    .hamburger img:hover > .nav-items{
        display: block;
        width: 70%;
    }
    .nav-items {
        display: none;
        
    }

    nav {
        align-items: center;
        width: 100%;
    }

    .nav-logo img {
        margin: 0px;
        padding: 0;
        width: 12rem;
    }

    .nav-side{
        position: absolute;
        top: 10px;
        left: 400px;
    }
    #cart{
        height: 30px;
        margin: 0;
        
    }
    .product-details {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mobile {
        display: flex;
        gap: 150px;
        font-size: xx-large;
    }

    .price {
        font-size: 2.5rem;
        display: flex;
    }

    .discount {
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
    }

    strike {
        font-size: x-large;
    }

    .details {
        margin-top: 0;
    }

    .product-details {
        gap: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .product-images img {
        border-radius: 0;
        margin: 0;
        object-fit: contain;
        align-self: center;
        justify-content: center;
    }

    .thumbnail {
        display: none;
    }

    .slide-buttons {
        display: flex;
    }


    .slide-buttons img {
        border-radius: 50px;
        background-color: azure;
        height: 50px;
        width: 50px;
        padding: 15px;
        font-weight: 900;
        opacity: 0.9;
        position: absolute;
    }

    .previous {
        top: 240px;
        left: 20px;
    }

    .next {
        top: 240px;
        left: 430px;
    }

    .cart-add {
        display: block;
    }

    .quantity {
        width: 99%;
        margin: auto;
    }

    input {
        width: 90%;
    }

    .add-to-cart {
        width: 100%;
        margin: 0;
        height: max-content;
        font-size: larger;
    }

}