*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section{
    padding: 80px 50px;
}

hr{
    opacity: 0.2;
    color: grey;
}

.flex{
    display: flex;
}

.cart{
    filter: brightness(0);
    height: 15px;
    
}

nav{
    margin: 30px auto;
    position: relative;
    display: flex;
    color: black;
    font-size: medium;
    font-weight: 300;
    opacity: 0.8;
    background-color: white;
    padding: 20px 0px;
}

.nav-items ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 30px;
}

.nav-items li{
    padding: 5px 20px;
}

.nav-side{
    position: absolute;
    top: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0px;
}

.nav-side img{
    margin: 0px 30px;

}

.avatar{
    width: 50px;
}

#cart{
    height: 20px;
}

main{
    display: flex;
}

.product-details{
    display: flex;
    gap: 100px;
}

.product-images img{
    border-radius: 20px;
    height: 500px;
}

.thumbnail{
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.thumbnail img{
    border-radius: 10px;
    height: 100px;
    position: relative;
}

.thumbnail img:hover{
    border: #FF7E1B 3px solid;
    background-color: #E6EAE4;
    opacity: 0.6;
}

.product-content{
    padding: 60px 0px;
}

p{
    opacity: 0.7;
}
.heading{
    letter-spacing: 2px;
    font-size: medium;
    font-weight: 700;
    opacity: 0.6;
}

.title{
    font-weight: 900;
    font-size: 2.7rem;
}

.details{
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: large;
    line-height: 1.6;
    font-size: 600;
    opacity: 0.6;

}

.price{
    font-size: xx-large;
    font-weight: 800;
    opacity: 1;
    margin-right: 15px;
}

.discount{
    background-color: black;
    color: white;
    opacity: 1;
    font-size: large;
    padding: 1px 10px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;

}

strike{
    letter-spacing: 0;
    margin: 0;
    padding: 0;

}
.quantity{
    padding: 15px 0px;
}

input{
    outline: none;
    border: none;
    width: 100px;
    text-align: center;
}

.add-to-cart{
    margin: 0px 40px;
    display: flex;
    padding: 5px 70px;
    gap: 15px;
    background-color: #FF7E1B;
    color: black;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-to-cart p{
    font-weight: 900;
    margin: 10px 0px;
}
