/*Global elements*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-size: 16px;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
    cursor: pointer;
}

section {
    padding: 30px 100px;
}

button {
    border: none;
    outline: none;
    background: none;
}

/*Navbar*/

nav {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e3dfdf;
}

.nav-logo {
    margin-right: 20px;
    flex: 0.3;
}

.nav-logo img {
    padding-bottom: 10px;
}

.nav-items ul {
    display: flex;
}

.nav-items li {
    padding: 40px 20px;
}

.nav-items li:hover {
    border-bottom: 2px solid #FF7E1B;
}

.nav-side {
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    gap: 25px;
}

.nav-side img {
    cursor: pointer;
}

.avatar {
    width: 35px;
}

#cart {
    height: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}


.close {
    display: none;
    position: absolute;
    cursor: pointer;
    margin: 0px 20px;
    top: 40px;
}

/*Main-body*/
main {
    max-width: 1200px;
    margin: 60px auto;
}

/*Product detail section*/
.product-details {
    display: flex;
    gap: 110px;
}

.product-images img {
    border-radius: 20px;
    height: 500px;
}

.thumbnail {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.thumbnail img {
    border-radius: 10px;
    height: 110px;
    cursor: pointer;
    margin: auto;
}

.thumbnail img:hover {
    border: #FF7E1B 2px solid;
    opacity: 0.6;
}

/*Product Content*/

.product-content {
    margin: 60px auto;
}

.heading {
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #777;
}

.title {
    font-weight: 800;
    font-size: 2.2rem;
    margin: 20px 0px;
}

.details {
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 1.1rem;
    color: #777;
}

.slide-buttons {
    display: none;
    position: absolute;
    cursor: pointer;
}

.total-pricing {
    justify-content: center;
    align-items: center;
    display: block;
}

.pricing {
    display: flex;
    gap: 20px;
}

.price {
    font-size: 1.8rem;
    font-weight: 800;
    margin-bottom: 0;
}

.discount {
    background-color: black;
    color: white;
    font-size: 0.9rem;
    padding: 1px 10px;
    font-weight: 700;
    margin-top: 12px;
    border-radius: 5px;
    height: 40%;
}

strike {
    letter-spacing: 0;
}

.cart-add {
    margin: 20px 0px;
    display: flex;
    gap: 60px;
}

.cart {
    filter: brightness(0);
}

.quantity {
    width: 90%;
    margin: auto;
    padding: 15px 10px;
    background: #F6F7FC;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    outline: none;
    border: none;
    width: 70%;
    text-align: center;
    color: black;
    background: #F6F7FC;
}

.add-to-cart {
    display: flex;
    width: 90%;
    height: 70%;
    margin: auto;
    gap: 15px;
    background-color: #FF7E1B;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.add-to-cart p {
    font-weight: 900;
    margin: 10px 0px;
}

/*Responsive Queries*/
@media screen and (max-width: 1400px) {
    html {
        width: min-content;
        height: min-content;
        margin: auto;
    }

    .cart-add {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }


    .product-content {
        padding: 0px;
        margin: 0px;
    }
}

@media screen and (max-width:1200px) {
    html {
        width: min-content;
        height: min-content;
        margin: auto;
    }

    .title {
        font-size: 2.5rem;
    }

    .cart-add {
        display: block;

    }

    .quantity {
        margin-bottom: 20px;
    }

}

@media screen and (max-width:1000px) {
    html {
        width: min-content;
        height: min-content;
    }

    body {
        width: 100%;
        margin: 0px auto;
    }

    .hamburger {
        display: block;
        margin: 0px 40px;
    }

    .hamburger img {
        margin-top: 5px;
        width: 1.5rem;
        filter: brightness(0);
    }

    .nav-items {
        display: none;
    }

    nav {
        margin: 0px auto;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        margin: 0px;
        padding: 25px 0px;
        width: 12rem;
    }

    .nav-logo img {
        padding: 0;
    }

    .nav-items ul {
        display: block;
        background-color: white;
        font-weight: 900;
        font-size: 1.2rem;
        padding: 70px 10px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 65%;
        z-index: 1;
    }

    .nav-items li {
        padding: 20px;
    }

    .nav-side {
        justify-content: right;
    }

    .product-details {
        display: block;
    }

    .thumbnail {
        gap: 10px;
        margin-top: 15px;
    }

    .heading {
        margin: 30px 0px 15px 0px;
    }

    .total-pricing {
        display: flex;
        justify-content: space-between;
    }

    .cart-add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .add-to-cart {
        margin: 0;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:700px) {
    html {
        width: min-content;
        height: min-content;
    }

    .hamburger {
        display: block;
        margin: 0px 20px;
    }

    .hamburger img {
        margin-top: 5px;
        width: 1.5rem;
        filter: brightness(0);
    }

    .nav-items {
        display: none;
    }

    nav {
        margin: 0px 10px;
        align-items: center;
        justify-content: space-between;
    }

    .nav-logo {
        margin: 0px;
        padding: 25px 0px;
        width: 12rem;
    }

    .nav-items ul {
        display: block;
        background-color: white;
        font-weight: 900;
        font-size: 1.2rem;
        padding: 70px 10px;
        height: 100vh;
        position: fixed;
        left: 0;
        top: 0;
        width: 60%;
        z-index: 1;
    }

    .nav-side {
        justify-content: right;
    }

    .nav-items li {
        padding: 20px;
    }

    .avatar {
        width: 35px;
    }

    #cart {
        height: 25px;
    }



    .container {
        margin: 0;
        padding: 0;
    }

    .product-details {
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 0;
    }

    .total-pricing {
        display: flex;
        margin: 25px 0px;
        justify-content: space-between;
    }

    .product-images {
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .product-content {
        padding: 0px 30px;
    }

    .price {
        font-size: 2.5rem;
        display: flex;
    }

    .discount {
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    }

    strike {
        font-size: 1.5rem;
    }

    .details {
        margin: 0;
    }

    .product-details {
        gap: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .product-images img {
        border-radius: 0;
        margin: 0;
        object-fit: contain;
        align-self: center;
        justify-content: center;
    }

    .thumbnail {
        display: none;
    }

    .slide-buttons {
        display: flex;
    }


    .slide-buttons img {
        border-radius: 50px;
        background-color: azure;
        height: 50px;
        width: 50px;
        padding: 15px;
        font-weight: 900;
        opacity: 0.8;
        position: absolute;
    }

    .previous {
        top: 240px;
        left: 20px;
    }

    .next {
        top: 240px;
        left: 430px;
    }

    .cart-add {
        display: block;
    }

    .quantity {
        margin: auto;
        margin-bottom: 20px;
    }

    input {
        width: 70%;
    }

    .add-to-cart {
        margin: auto;
        height: max-content;
        font-size: larger;
    }

}